<md-dialog aria-label="Game Type"  ng-cloak>
<form>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2  ng-if="!dt.gameTypeSelected">{{'game.three.play_option'| translate }}</h2>
      <h2  ng-if="dt.gameTypeSelected">{{'game.three.select_no_questions' | translate}}</h2>
      <span flex></span>
      <!--
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
      -->
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content" ng-if="!dt.gameTypeSelected" >

      <md-button ng-click="dt.selected_practice()" class="md-raised md-primary"> {{'game.three.practice' | translate}}</md-button> &nbsp; OR &nbsp;
      <md-button ng-click="dt.selected_assessment()"  class="md-raised md-primary">{{'game.three.game' | translate}}</md-button>
    </div>
    <div class="md-dialog-content" ng-if="dt.gameTypeSelected && dt.assessement === true">
      <md-radio-group ng-click="dt.numberOfQuestionSelected()" ng-model="dt.data.numberOfQuestions">
        <md-radio-button  value="{{dt.option1}}" class="md-primary">{{dt.option1}}</md-radio-button>
        <md-radio-button value="{{dt.option2}}" class="md-primary">{{dt.option2}}</md-radio-button>
        <md-radio-button value="{{dt.option3}}" class="md-primary">{{'game.three.allfacts' | translate}}</md-radio-button>
      </md-radio-group>
    </div>
  </md-dialog-content>

  <!--
  <md-dialog-actions layout="row">
    <md-button md-autofocus>
      Next
    </md-button>
    <span flex></span>
    <md-button ng-click="answer('not useful')">
      Not Useful
    </md-button>
    <md-button ng-click="answer('useful')" style="margin-right:20px;">
      Useful
    </md-button>
  </md-dialog-actions>
  !-->
</form>
</md-dialog>
