<div layout="row"  layout-align="space-between center">
  <div style="padding-left: 20px;"><img ng-src="assets/images/r2m_logo1.png" height="55" width="190" /></div>
<span hide-xs hide-sm  ng-if="vm.loggedIn "><h2>{{vm.studentName}} Welcome to Road2Math </h2>
</span>
  <div class="language-select">
      <md-select ng-model="vm.currentLocaleDisplayName" ng-change="vm.changeLanguage(vm.currentLocaleDisplayName)">
        <md-option  ng-repeat="localesDisplayName in vm.localesDisplayNames" ng-value="localesDisplayName"
        ng-selected = "vm.currentLocaleDisplayName == localesDisplayName">
          {{localesDisplayName }}
        </md-option>
      </md-select>

  </div>
  <!--
  <div>
    <md-button ui-sref="threedigit({type:1})" >Addition</md-button>
   <!-- <md-button ui-sref="threedigit({type:2})">Subtraction</md-button>
    <md-button ui-sref="threedigit({type:3})">Multiplication</md-button>
    <!-- <md-button ui-sref="threedigit({type:4})">Division</md-button> -->
   <!-- <md-button ui-sref="calibrate">Keyboard Test</md-button>
    <md-button ui-sref="home" ng-if="!vm.loggedIn">Sign Up</md-button>
    <md-button ng-if="vm.shouldShowResult" ui-sref="result">Result</md-button>
  </div> -->

  <div class="nav-buttons" ng-if="vm.loggedIn">

    <md-button ng-click="vm.changePage()"  class="md-raised md-primary">Select Operaton</md-button>
    <md-button class="md-raised md-primary" ng-click="vm.logOut()">Log Out</md-button>
  </div>
  <!--
  <div class="nav-buttons" ng-if="!vm.loggedIn">
    <md-button ng-click="vm.loginPage()"  class="md-raised md-primary">Login</md-button>
  </div>
  -->
  </div>
