<div layout="row"  layout-align="space-between center">
  <div style="padding-left: 20px;"><img ng-src="assets/images/r2m_logo1.png" height="35" width="140" /></div>
  <div>
    <md-button ui-sref="threedigit({type:1})" >Addition</md-button>
    <md-button ui-sref="threedigit({type:2})">Subtraction</md-button>
    <md-button ui-sref="threedigit({type:3})">Multiplication</md-button>
    <md-button ui-sref="threedigit({type:4})">Division</md-button>
    <md-button ui-sref="typespeed">Calibrate</md-button>
    <md-button ui-sref="threedigit">Report Issue</md-button>

  </div>
  <div class="nav-buttons">

    <md-button class="md-raised md-warn" ng-click="vm.logOut()">Log Out</md-button>
  </div>
  </div>
