<div layout="column" layout-fill>

  <md-content>
    <header>
      <acme-navbar />
    </header>
  </md-content>
  <!-- heading -->
  <div layout="column" class="jumbotron">
    <div  id="heading" class="row">
      <div class="col-sm-12" >
        <div class="outer-game-box outer-game-box-select-stratergy">
          <div class="inner-game-box" >
            <div class="strategy-title">
              <span ng-bind-html=" 'Addition Game' "></span>
              <!-- threeCtrl.titleOfStrategy -->
            </div>
            <div class="button-top-bar">

              <button type="button" class="btn btn-info" ng-click='threeCtrl.newGame()'>New Game</button>

              <button type="button" class="btn btn-info" ng-click='threeCtrl.game.changeStats()' ng-show="threeCtrl.game.scoreButton && threeCtrl.game.stats">Score Off</button>
              <button type="button" class="btn btn-info" ng-click='threeCtrl.game.changeStats()' ng-show="threeCtrl.game.scoreButton && !threeCtrl.game.stats">Score On</button>

              <button type="button" class="btn btn-info small-button"  ng-disabled='!threeCtrl.game.showSubmitButton.truthValue;' ng-show="!threeCtrl.game.showNextButton.truthValue;" ng-click="threeCtrl.game.evaluateAnswer2();" >Submit</button>

              <!--   <button  type="button" class="btn btn-info small-button" ng-show='threeCtrl.game.showNextButton.truthValue;' ng-click="threeCtrl.game.showNextQuestions2();" >Next </button> -->

            </div>
            <div class="col-xs-8" >
              <div class="header-question" >
                      <span style="font-weight: 100;">
                          {{threeCtrl.titleOfStrategy }}
                         </span>
              </div>
              <div id="game-container">
                <div grid-three-digit id="game" ng-model='threeCtrl.game' class="row game-reduced-height-2 "></div>
                <div class="tile-overlay-top" ng-show="threeCtrl.game.countdownfinished"></div>
                <div class="tile-overlay-bottom" ng-show="threeCtrl.game.countdownfinished"></div>
                <div id="game-over" ng-show="!threeCtrl.game.countdownfinished" class="row game-overlay game-reduced-height-overlay-2  ">
                  <!-- countdown= 5 -->
                  <h3> <timer countdown="1" interval="1000"  name="gameCountDown" >Your game will start in {{countdown}}</timer></h3>
                </div>
                <div id="game-over" ng-if="threeCtrl.game.gameOver" class="row  game-overlay game-reduced-height-overlay-2 ">
                  <h3>  Sorry , play again.
                    <div class="lower">
                      <button type="button" class="btn btn-info" ng-click="threeCtrl.newGame();">Try Again</button>
                    </div>
                  </h3>
                </div>
                <!-- begining of win overlay -->
                <div id="win" ng-if="threeCtrl.game.win" class="row game-overlay game-reduced-height-overlay">
                  You win!
                  <div class="lower">
                    <button type="button" class="btn btn-info" ng-click="threeCtrl.newGame();">Try Again</button>
                  </div>
                </div>
                <!-- end of win overlay -->
              </div> <!-- game-container -->
            </div> <!-- end of col-sm-8 -->
            <div class="col-xs-2 game-side-bar" >

                             <span ng-show="threeCtrl.game.stats"> Total Questions <br />
                              {{threeCtrl.game.totalfacts}}
                             </span>
                            <span  ng-show="threeCtrl.game.stats">
                            Score <br />
                                     {{threeCtrl.game.currentScore}}
                            </span>

                            <span class="spacer" ng-show="threeCtrl.game.stats">
                            </span>

                            <span ng-if="threeCtrl.game.instantaneousFeedBack">
                            <span ng-if="threeCtrl.game.rightAnswer && !threeCtrl.game.netural" ><img  src="app/secure/game/threedigit/images/happy.png" style="margin-top:1px;" /> </span>
                             <span ng-if="!threeCtrl.game.rightAnswer && !threeCtrl.game.netural" ><img  src="app/secure/game/threedigit/images/sad.png" style="margin-top:1px;" /></span>
                             </span>
              <span class="spacer"></span>
                            <span class="build-facts"  ng-show="threeCtrl.game.watchList" >
                                    Watch List <br />
                             <span ng-if="threeCtrl.game.watchList">
                              <span  ng-repeat="factdisp in threeCtrl.game.watchListContent" ng-class="{'background-color-white':!factdisp.select && !factdisp.right && !factdisp.wrong ,  'background-color-green':factdisp.right, 'background-color-red':factdisp.wrong, 'background-color-blue':factdisp.select }">{{factdisp.fact}}
                              </span>
                            </span>
                            </span>


            </div> <!-- end of col-sm-2 -->
          </div> <!-- inner game box -->
        </div> <!-- outer game box -->

      </div> <!-- col sm 12 -->

    </div> <!-- end of id = heading -->
  </div>

</div>
