<div layout="column" layout-fill>

  <md-content>
    <header >
      <acme-navbar />
    </header>
  </md-content>
<!-- heading -->
  <div layout="column" layout-align="center center" layout-padding class="jumbotron">
<div  id="heading">
    <div class="outer-game-box outer-game-box-challenge">
      <div class="inner-game-box" >
        <div class="strategy-title">
          <span>{{threeCtrl.nameOfType}}</span>

          <!-- threeCtrl.titleOfStrategy -->
        </div>

        <md-progress-linear md-mode="determinate" value="{{threeCtrl.game.totalfacts * 100 / threeCtrl.game.numberOfQuestions}}"></md-progress-linear>
        <div class="button-top-bar">

       <md-button ng-disabled="threeCtrl.game.disableNewGame" class="md-raised md-primary btn-info" ng-click='threeCtrl.initialiseGameWithAlertBox($event)'>{{'game.three.new_game' | translate}}</md-button>

          <md-button class="md-raised md-primary btn-info" ng-click='threeCtrl.game.changeStats()' ng-show="threeCtrl.game.scoreButton && threeCtrl.game.stats">{{'game.three.score_on' | translate}}</md-button>
          <md-button  class="md-raised md-primary btn-info" ng-click='threeCtrl.game.changeStats()' ng-show="threeCtrl.game.scoreButton && !threeCtrl.game.stats">{{'game.three.score_off' | translate}}</md-button>

          <md-button  class="md-raised md-primary btn-info small-button"  ng-disabled='!threeCtrl.game.showSubmitButton.truthValue;' ng-show="!threeCtrl.game.showNextButton.truthValue;" ng-click="threeCtrl.game.evaluateAnswer2();" >{{'game.three.Submit' | translate}}</md-button>

       <!--   <button  type="button" class="btn btn-info small-button" ng-show='threeCtrl.game.showNextButton.truthValue;' ng-click="threeCtrl.game.showNextQuestions2();" >Next </button> -->

        </div>
        <div layout="row" >
            <div id="game-container">
            <div grid-three-digit id="game" ng-model='threeCtrl.game' class="game-reduced-height-2 "></div>
            <div  ng-class="{'tile-overlay-top-2':threeCtrl.assessement,'tile-overlay-top':!threeCtrl.assessement}" ng-show="threeCtrl.game.countdownfinished"></div>
            <div ng-class="{'tile-overlay-bottom-2':threeCtrl.assessement,'tile-overlay-bottom':!threeCtrl.assessement}"  ng-show="threeCtrl.game.countdownfinished"></div>
            <div id="game-over" ng-show="!threeCtrl.game.countdownfinished"  class="game-overlay game-reduced-height-overlay-2">
              <!-- countdown= 5 -->
<!--
              <span ng-show="!threeCtrl.initialGame"> <timer countdown="threeCtrl.delay" interval="1000" auto-start="false"  name="gameCountDown" >Please wait, loading data {{countdown}}</timer></span>
              <span ng-show="threeCtrl.initialGame">Please click on new game to start playing</span>
-->
              <span ng-show="threeCtrl.initialGame">{{'game.three.initial_message' | translate}}</span>
              <span ng-show="!threeCtrl.initialGame">{{'game.three.data_loading' | translate}}<br/> <img height="30px" width="30px" src="assets/images/ajax_loader.gif" /> </span>
              <br/><br/>

            </div>
            <div id="game-over" ng-if="threeCtrl.game.gameOver"   class="game-overlay game-reduced-height-overlay-2 darker">
              <span ng-if="threeCtrl.game.assessment">  {{'game.three.game_over1' | translate}}<md-button class="md-raised md-primary" ng-click="threeCtrl.showResult()" /> {{'game.three.game_over2' | translate}} </md-button > {{'game.three.game_over3' | translate}}
              </span>
                 <span ng-if="!threeCtrl.game.assessment"> {{'game.three.practice_over' | translate}}
                   <br />
              </span>
            </div>
            <!-- begining of win overlay -->
            <div id="win" ng-if="threeCtrl.game.win" class="row game-overlay game-reduced-height-overlay">
              You win!
              <div class="lower">
                <button type="button" class="btn btn-info" ng-click="threeCtrl.newGame();">Try Again</button>
              </div>
            </div>
            <!-- end of win overlay -->

            </div> <!-- game-container -->

        <div class="game-side-bar" >

                             <span ng-show="threeCtrl.game.totalStats"> {{'game.three.side.total' | translate}} <br />
                              {{threeCtrl.game.totalfacts}} / {{threeCtrl.game.numberOfQuestions}}
                             </span>
                            <span  ng-show="threeCtrl.game.stats && threeCtrl.game.totalRightStats">
                            {{'game.three.side.score' | translate }} <br />
                                     {{threeCtrl.game.currentScore}}
                            </span>

                            <span class="spacer" ng-show="threeCtrl.game.stats">
                            </span>

                            <span ng-if="threeCtrl.game.instantaneousFeedBack">
                            <span ng-if="threeCtrl.game.rightAnswer && !threeCtrl.game.netural" ><img  src="app/secure/game/threedigit/images/happy.png" style="margin-top:1px;" /> </span>
                             <span ng-if="!threeCtrl.game.rightAnswer && !threeCtrl.game.netural" ><img  src="app/secure/game/threedigit/images/sad.png" style="margin-top:1px;" /></span>
                             </span>
          <span class="spacer"></span>
                            <span class="build-facts"  ng-show="threeCtrl.game.watchList" >
                                    {{'game.three.side.watch' | translate}} <br />
                             <span ng-if="threeCtrl.game.watchList">
                              <span  ng-repeat="factdisp in threeCtrl.game.watchListContent" ng-class="{'background-color-white':!factdisp.select && !factdisp.right && !factdisp.wrong ,  'background-color-green':factdisp.right, 'background-color-red':factdisp.wrong, 'background-color-blue':factdisp.select }">{{factdisp.fact}}
                              </span>
                            </span>
                            </span>


        </div> <!-- end of col-sm-2 -->
        </div>
      </div> <!-- inner game box -->
    </div> <!-- outer game box -->



</div> <!-- end of id = heading -->
    </div>

</div>
