<div layout="column" layout-fill>

  <md-content>
    <header>
      <acme-navbar student-name='' />
    </header>
  </md-content>
  <md-progress-linear md-mode="indeterminate" ng-show="loginCtrl.loggining"></md-progress-linear>
  <div layout="column" class="jumbotron">
      <div layout="column"  layout-align="center center" layout-margin >
         <div class="userLogin" layout="column">
           <md-toolbar>
             <div class="md-toolbar-tools">
               <span> {{"login.login_text" | translate}}</span>
               <!-- fill up the space between left and right area -->
               <span flex></span>
             </div>
           </md-toolbar>
              <div layout="column" layout-padding>
               <form name="loginForm" ng-submit="loginCtrl.login();">

                 <md-input-container style="border: 1px;"  class="md-block" md-show-errors="loginForm.username.$dirty">
                   <label>{{login.username.text | translate}}</label>
                   <input name="username" id="username" ng-model="loginCtrl.username" type="text"  required maxlength="60">
                   <div ng-messages="loginForm.username.$error"  role="alert" >
                <div ng-message="required">{{"login.username_required.text" | translate}}</div>
                <div ng-message="md-maxlength">{{"login.username_too_long.text" | translate}}.</div>
                </div>
                </md-input-container>
                <md-input-container class="md-block" md-show-errors="loginForm.password.$dirty" md-no-float>
                   <label>{{login.password.text | translate}}</label>
                   <input name="password" id="password" ng-model="loginCtrl.password" type="password"  required maxlength="60">

                    <div ng-messages="loginForm.password.$error"  role="alert" >
                     <div ng-message="required">{{"login.password_required.text" | translate}}</div>
                     <div ng-message="md-maxlength">{{"login.password_too_long.text" | translate}}</div>
                   </div>
                 </md-input-container>
                 <div layout="column" layout-padding layout-align="center center" layout-margin  >
                 <md-button type="submit" class="md-raised md-primary md-icon" ng-disabled="loginForm.$invalid || loginCtrl.loggining" >
                   &nbsp;{{loginCtrl.button_message}}   &nbsp;</md-button>
                 </div>
               </form>
              </div>



         </div>
      </div>
    </div>


</div>
