<div layout="column" layout-fill>

  <md-content>
    <header>
      <acme-navbar />
    </header>
  </md-content>
  <!-- heading -->
  <div layout="column" layout-align="center center" layout-padding class="jumbotron">
    <div  id="heading">
      <div class="outer-game-box outer-game-box-select-stratergy">
        <div class="inner-game-box" >
          <div class="strategy-title">
            <span ng-bind-html=" 'Select Operation' ">
            </span>
            <!-- threeCtrl.titleOfStrategy -->
          </div>
         <div class="select-operation-container" ng-class="{'middle-algin':main.child_grade == 0}" >
           <md-button ng-disabled="main.additionCount >= main.maxCount" ng-click="main.selected('addition')"   class="md-raised md-primary operation-block ">+</md-button>
           <md-button ng-show="main.child_grade >=1" ng-disabled="main.subtractionCount >= main.maxCount" ng-click="main.selected('subtraction')"  class="md-raised md-primary operation-block ">	&#45;</md-button>
           <md-button ng-show="main.child_grade >=3" ng-disabled="main.multiplicationCount >= main.maxCount" ng-click="main.selected('multiplication')"  class="md-raised md-primary operation-block">&times;</md-button>
           <md-button ng-show="main.child_grade >=3" ng-disabled="main.divisionCount >= main.maxCount" ng-click="main.selected('division')"   class="md-raised md-primary operation-block">	&divide;</md-button >
         </div>

          <!-- end of col-sm-2 -->

        </div> <!-- inner game box -->
      </div> <!-- outer game box -->



    </div> <!-- end of id = heading -->
  </div>

</div>
