/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}


[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
  -moz-transition:all .5s ease-in-out;
  -o-transition:all .5s ease-in-out;
  transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0px, 0, 0);
  transform:translate3d(0, 0, 0);
}


.my-icon-button {
  padding: 2px;
  min-width: 0;
  min-height: 0;
  line-height: normal;
  margin-top: 7px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}




.jumbotron {
  margin-bottom: 30px;
  padding: 1px 30px;
  background-color: #5aadbb;
  min-height: 500px;
  color: #000000;

  h1 {
    font-size: 3em;
  }
}



.userLogin {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
}

.reportIssueSignup {
  background-color: #FFFFFF;
  width: 400px;
  height: 500px;
}

.myGrid {
  background-color: #FFFFFF;
  width: 500px;
  height: 250px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  background-color: white;
}
th, td {
  padding: 1%;
  height: 2%;
  max-height: 20px;
  max-width: 20px;
  min-height: 10px;
  min-width: 10px;
  width: 2%;
  text-align: center;
}

.red {
  background-color: #f2dbdb;

}

.green {
  background-color: #4AA02C;
}

.result_border {
  border: none;
}
.black-text {
  color:#000000;
}

.green-text {
  color: #4AA02C;
}

.green-text-bold {
  color: #4AA02C;
  font-weight: bold;
}

.result-box {
  background-color: #FFFFFF;
  text-align:center;
  border: 1px solid black;

}

.result-box-specific {
  background-color: #FFFFFF;
  text-align:center;
  border: 1px solid black;
  padding: 1%;
  font-size: 1em;
  margin: 1%;

}

.green-small-box {
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  background-color: #4AA02C;
}

.pink-small-box {
  height: 30px;
  width: 30px;
  min-height: 30px;
  min-width: 30px;
  background-color: #f2dbdb;
}





/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
