<div layout="column" layout-fill>

  <md-content>
    <header>
      <acme-navbar />
    </header>
  </md-content>

  <section layout="column" class="jumbotron">
      <div layout="column" layout-padding layout-align="center center" layout-margin >
         <div class="reportIssueSignup" layout="column">
           <md-toolbar>
             <div class="md-toolbar-tools">
               <span>Report Issue</span>
               <!-- fill up the space between left and right area -->
             </div>
           </md-toolbar>
              <div layout="column" layout-padding>
               <form name="reportIssueForm" >

                 <md-input-container >
                   <label>Parent's Email</label>
                   <input name="email" id="email" ng-model="rictrl.email" type="email" ng-model-options="{ debounce: 200 }" required md-maxlength="60">

                <div ng-if="reportIssueForm.email.$dirty" ng-messages="reportIssueForm.email.$error">
                <div ng-message="required">Your email address is required.</div>
                <div ng-message="email">Your email address is invalid.</div>
                <div ng-message="md-maxlength">Your email is too long.</div>
                </div>
                 </md-input-container>

                 <md-input-container class="md-block">
                   <label>Phone</label>
                   <input name="phone" ng-model="rictrl.phone" type="tel"  ng-pattern="/^[a-zA-Z0-9\s\.]*$/"  md-maxlength="40" required>
                   <div ng-if="reportIssueForm.phone.$dirty" ng-messages="reportIssueForm.phone.$error">
                     <div ng-message="required">Phone number is required.</div>
                     <div ng-message="pattern">Only alphabets,number and spaces.</div>
                     <div ng-message="md-maxlength"ng-message="md-maxlength">Phone is too long.</div>
                   </div>
                 </md-input-container>
                 <md-input-container class="md-block">
                   <label>Issue / Problem</label>
                   <textarea name="issue" Title="" ng-model="rictrl.issue"   md-maxlength="2000"  md-select-on-focus="" required ></textarea>
                   <div ng-if="reportIssueForm.issue.$dirty" ng-messages="reportIssueForm.issue.$error">
                     <div ng-message="required">Please enter your problem.</div>
                     <div ng-message="pattern">Only alphabets,number and spaces.</div>
                     <div ng-message="md-maxlength">Too many characters.</div>
                   </div>
                 </md-input-container>
                 <div layout="column" layout-padding layout-align="center center" layout-margin  >
                 <md-button class="md-raised md-primary" ng-disabled="reportIssueForm.$invalid || rictrl.creating" ng-click="rictrl.signup();">
                   Report</md-button>

                 </div>
               </form>
              </div>



         </div>
      </div>
    </section>


</div>
